<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table border="2">
    <tr>
        <td th:text="ID"></td>
        <td th:text="userName"></td>
        <td th:text="CNP"></td>
    </tr>
    <th:block th:each="user : ${userList}">
                <tr>
                    <td th:text="${user.getUserId()}"></td>
                    <td th:text="${user.getUserName()}"></td>
                    <td th:text="${user.getCNP()}"></td>
                </tr>
    </th:block>
</table>

</body>
</html>